.headerOverlay {
  opacity: 0.3;
  background-color: #006cff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.siteHeader {
  background-size: cover;
  position: relative;

  @media (min-width: 992px) {
    width: 35%;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 50%;
  }
}

.siteTitle {
  display: table;
  width: 100%;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: relative;

  @media (min-width: 992px) {
    position: absolute;
    height: 100vh;
  }

  h1 {
    margin: 24px 0 12px;
    color: #fff;
  }
}

.siteTitleInner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}
