.appMenu {
  z-index: 2;
  position: relative;

  a {
    color: #fff;

    &:hover,
    &:active {
      color: darken($color: #fff, $amount: 20%);
    }
  }
}

.active {
  color: lighten($color: #fff, $amount: 50%);
}
