.siteMain {
  position: absolute;
  padding: 48px;

  @media (min-width: 992px) {
    width: 65%;
    left: 35%;
    padding: 120px;
  }

  @media (min-width: 1200px) {
    width: 50%;
    left: 50%;
  }
}
