.post {
  margin-top: 120px;
  display: block;

  &:first-child {
    margin-top: 0;
  }
}

.entryMeta {
  font-size: 12px;
  font-style: italic;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.entryTitle {
  font-size: 36px;
  margin: 12px 0 24px;
  padding: 0 0 24px;
  border-bottom: 1px solid #f1f1f1;

  a {
    color: #282a2f;

    &:hover {
      text-decoration: none;
      color: #006cff;
    }
  }
}

.entryThumbnail {
  margin-bottom: 24px;
}

.entryContent {
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 24px;
}

.moreLink {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: bold;
  display: block;
  margin-top: 24px;

  &:hover,
  &:focus {
    color: #004cb3;
    text-decoration: none;
  }
}
